/*tag properties*/
html {
  height: 100%;
}
body {
  height: 100%;
  width: 80%;
  margin: 0 auto;
  padding: 0;
  font: 13px/1.5 helvetica, arial, san-serif;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background: hsla(0, 9%, 40%, 0.80);
  z-index: 10;
}

article {
  position: relative;
  top: 82px;
  min-height: 100%;
}

h1, h2 {
  text-align: center;
  color: lightcoral;
}

p {
  margin: 0;
}

/*id properties*/
#storeItems ul {
  
  list-style: none;
}

#storeItems li {
  display: inline;
}

#cartItems ul {
  list-style: none;
	padding:0;
}
#cartItems li {
	list-style:none;
	border-bottom:1px solid #494949;
	padding:5px;
  display: inline;
  float: left;
  color: white;
}

#total {
  float: left;
  color: rgba(155, 141, 141, 0.8);
}

/*class properties*/
.item {
  display:block;
	float:left;
	width:180px;
	height:180px;
	margin:10px;
	border:1px dotted #4f4d4d;
	text-align:center;
	text-decoration:none;
	color: #000;
	overflow:hidden;
}

.item img {
	border:0;
	margin:auto;
}

.item div {
	background:rgb(0, 0, 0);	
  position:relative;
	bottom:90px;
	color: white;
	padding: 3px 0;
  background: rgba(0, 0, 0, 0.7);
}

#storeItems {
  float: left;
  min-height: 100%;
  width: 64%;
  padding: 0;
  background: rgba(232, 225, 225, 0.80);
  position: relative;
}

#cartItems {
  float: right;
  min-height: 600px;
  width: 26%;
  padding: 0px 5%;
  background-color: #343C45;
  margin: auto;
  position: relative;
}

#cartItems button {
  display: block;
  clear: both;
  text-align: center;
  position: absolute;
	bottom: 20px;
  height: 40px;
  font: bold 16px verdana;
  color: white;
  border: 2px solid gray;
  border-radius: 2%;
  background-color: green;

}

[draggable=true] {
  -webkit-user-drag: element; 
  -webkit-user-select: none; 
  -moz-user-select: none;}